/* Basic container styles */
.app-container {
  display: flex;
  flex-direction: column;
}

/* Styling the hamburger icon */
.hamburger-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1100; /* Make sure the hamburger icon is above other content */
}

.content {
  margin-left: 250px; /* Initially push the content to the right to accommodate the sidebar */
  transition: margin-left 0.3s ease; /* Smooth transition for content when sidebar opens/closes */
}

.sidebar.open + .content {
  margin-left: 0; /* When sidebar is open, push the content back */
}

/* You can add more global styles as needed */
